.divPadre{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.cartItem {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.h1{
    font-family: Roboto;
    width: 100%;
}

h2{
    font-family: Roboto;
}

h3{
    font-family: Roboto;
}

p{
    font-family: Roboto;
}